@"
/vendor
/node_modules
.env
.env.backup
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/public/hot
/public/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
"@ | Out-File -Encoding UTF8 .gitignore